<!-- PRODUCT SLIDER AREA START -->
<div class="ltn__product-slider-area ltn__product-gutter pt-115 pb-90 plr--7">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title-area ltn__section-title-2--- text-center">
          <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color">Properties</h6>
          <h1 class="section-title">Top For Rent</h1>
        </div>
      </div>
    </div>
    <div class="row ltn__product-slider-item-four-active-full-width slick-arrow-1">
      <!-- ltn__product-item -->
      <div *ngFor="let topRent of topRents">
      <div class="col-lg-12" >
        <div class="ltn__product-item ltn__product-item-4 text-center---">
          <div class="product-img" >
            <a ><img src="{{topRent.images}}" width="500" height="300" ></a>
            <div class="product-badge">
              <ul>
                <li class="sale-badge bg-green">For Rent</li>
              </ul>
            </div>
            <div class="product-img-location-gallery">
              <div class="product-img-location">
                <ul>
                  <li>
                    <a href="locations.html"><i class="flaticon-pin"></i>{{topRent.id}}</a>
                  </li>
                </ul>
              </div>
              <div class="product-img-gallery">
                <ul>
                  <li>
                    <a href="product-details.html"><i class="fas fa-camera"></i> 4</a>
                  </li>
                  <li>
                    <a href="product-details.html"><i class="fas fa-film"></i> 2</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="product-info">
            <div class="product-price">
              <span>{{topRent.price}}<label>/Month</label></span>
            </div>
            <h2 class="product-title"><a href="product-details.html">{{topRent.name}}</a></h2>
            <ul class="ltn__list-item-2 ltn__list-item-2-before">
              <li><span>3 <i class="flaticon-bed"></i></span>
                Bedrooms
              </li>
              <li><span>2 <i class="flaticon-clean"></i></span>
                Bathrooms
              </li>
              <li><span>3450 <i class="flaticon-square-shape-design-interface-tool-symbol"></i></span>
                square Ft
              </li>
            </ul>
          </div>

        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<!-- PRODUCT SLIDER AREA END -->
