<body>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
  your browser</a> to improve your experience and security.</p>
<![endif]-->

<!-- Add your site or application content here -->

<!-- Body main wrapper start -->
<div class="body-wrapper">




  <!-- Utilize Cart Menu Start -->
  <div id="ltn__utilize-cart-menu" class="ltn__utilize ltn__utilize-cart-menu">
    <div class="ltn__utilize-menu-inner ltn__scrollbar">
      <div class="ltn__utilize-menu-head">
        <span class="ltn__utilize-menu-title">Cart</span>
        <button class="ltn__utilize-close">×</button>
      </div>
      <div class="mini-cart-product-area ltn__scrollbar">
        <div class="mini-cart-item clearfix">
          <div class="mini-cart-img">
            <a href="#"><img src="img/product/1.png" alt="Image"></a>
            <span class="mini-cart-item-delete"><i class="icon-cancel"></i></span>
          </div>
          <div class="mini-cart-info">
            <h6><a href="#">Wheel Bearing Retainer</a></h6>
            <span class="mini-cart-quantity">1 x $65.00</span>
          </div>
        </div>
        <div class="mini-cart-item clearfix">
          <div class="mini-cart-img">
            <a href="#"><img src="img/product/2.png" alt="Image"></a>
            <span class="mini-cart-item-delete"><i class="icon-cancel"></i></span>
          </div>
          <div class="mini-cart-info">
            <h6><a href="#">3 Rooms Manhattan</a></h6>
            <span class="mini-cart-quantity">1 x $85.00</span>
          </div>
        </div>
        <div class="mini-cart-item clearfix">
          <div class="mini-cart-img">
            <a href="#"><img src="img/product/3.png" alt="Image"></a>
            <span class="mini-cart-item-delete"><i class="icon-cancel"></i></span>
          </div>
          <div class="mini-cart-info">
            <h6><a href="#">OE Replica Wheels</a></h6>
            <span class="mini-cart-quantity">1 x $92.00</span>
          </div>
        </div>
        <div class="mini-cart-item clearfix">
          <div class="mini-cart-img">
            <a href="#"><img src="img/product/4.png" alt="Image"></a>
            <span class="mini-cart-item-delete"><i class="icon-cancel"></i></span>
          </div>
          <div class="mini-cart-info">
            <h6><a href="#">Shock Mount Insulator</a></h6>
            <span class="mini-cart-quantity">1 x $68.00</span>
          </div>
        </div>
      </div>
      <div class="mini-cart-footer">
        <div class="mini-cart-sub-total">
          <h5>Subtotal: <span>$310.00</span></h5>
        </div>
        <div class="btn-wrapper">
          <a href="cart.html" class="theme-btn-1 btn btn-effect-1">View Cart</a>
          <a href="cart.html" class="theme-btn-2 btn btn-effect-2">Checkout</a>
        </div>
        <p>Free Shipping on All Orders Over $100!</p>
      </div>

    </div>
  </div>
  <!-- Utilize Cart Menu End -->

  <!-- Utilize Mobile Menu Start -->
  <div id="ltn__utilize-mobile-menu" class="ltn__utilize ltn__utilize-mobile-menu">
    <div class="ltn__utilize-menu-inner ltn__scrollbar">
      <div class="ltn__utilize-menu-head">
        <div class="site-logo">
          <a href="index.html"><img src="img/logo.png" alt="Logo"></a>
        </div>
        <button class="ltn__utilize-close">×</button>
      </div>
      <div class="ltn__utilize-menu-search-form">
        <form action="#">
          <input type="text" placeholder="Search...">
          <button><i class="fas fa-search"></i></button>
        </form>
      </div>
      <div class="ltn__utilize-menu">
        <ul>
          <li><a href="#">Home</a>
            <ul class="sub-menu">
              <li><a href="index.html">Home Style 01</a></li>
              <li><a href="index-2.html">Home Style 02</a></li>
              <li><a href="index-3.html">Home Style 03</a></li>
              <li><a href="index-4.html">Home Style 04</a></li>
              <li><a href="index-5.html">Home Style 05 <span class="menu-item-badge">video</span></a></li>
              <li><a href="index-6.html">Home Style 06</a></li>
              <li><a href="index-7.html">Home Style 07</a></li>
              <li><a href="index-8.html">Home Style 08</a></li>
              <li><a href="index-9.html">Home Style 09</a></li>
              <li><a href="index-10.html">Home Style 10 <span class="menu-item-badge">Map</span></a></li>
              <li><a href="index-11.html">Home Style 11</a></li>
            </ul>
          </li>
          <li><a href="#">About</a>
            <ul class="sub-menu">
              <li><a href="about.html">About</a></li>
              <li><a href="service.html">Services</a></li>
              <li><a href="service-details.html">Service Details</a></li>
              <li><a href="portfolio.html">Portfolio</a></li>
              <li><a href="portfolio-2.html">Portfolio - 02</a></li>
              <li><a href="portfolio-details.html">Portfolio Details</a></li>
              <li><a href="team.html">Team</a></li>
              <li><a href="team-details.html">Team Details</a></li>
              <li><a href="faq.html">FAQ</a></li>
              <li><a href="locations.html">Google Map Locations</a></li>
            </ul>
          </li>
          <li><a href="#">Shop</a>
            <ul class="sub-menu">
              <li><a href="shop.html">Shop</a></li>
              <li><a href="shop-grid.html">Shop Grid</a></li>
              <li><a href="shop-left-sidebar.html">Shop Left sidebar</a></li>
              <li><a href="shop-right-sidebar.html">Shop right sidebar</a></li>
              <li><a href="product-details.html">Shop details </a></li>
              <li><a href="cart.html">Cart</a></li>
              <li><a href="wishlist.html">Wishlist</a></li>
              <li><a href="checkout.html">Checkout</a></li>
              <li><a href="order-tracking.html">Order Tracking</a></li>
              <li><a href="account.html">My Account</a></li>
              <li><a href="login.html">Sign in</a></li>
              <li><a href="register.html">Register</a></li>
            </ul>
          </li>
          <li><a href="#">News</a>
            <ul class="sub-menu">
              <li><a href="blog.html">News</a></li>
              <li><a href="blog-grid.html">News Grid</a></li>
              <li><a href="blog-left-sidebar.html">News Left sidebar</a></li>
              <li><a href="blog-right-sidebar.html">News Right sidebar</a></li>
              <li><a href="blog-details.html">News details</a></li>
            </ul>
          </li>
          <li><a href="#">Pages</a>
            <ul class="sub-menu">
              <li><a href="about.html">About</a></li>
              <li><a href="service.html">Services</a></li>
              <li><a href="service-details.html">Service Details</a></li>
              <li><a href="portfolio.html">Portfolio</a></li>
              <li><a href="portfolio-2.html">Portfolio - 02</a></li>
              <li><a href="portfolio-details.html">Portfolio Details</a></li>
              <li><a href="team.html">Team</a></li>
              <li><a href="team-details.html">Team Details</a></li>
              <li><a href="faq.html">FAQ</a></li>
              <li><a href="history.html">History</a></li>
              <li><a href="appointment.html">Appointment</a></li>
              <li><a href="locations.html">Google Map Locations</a></li>
              <li><a href="404.html">404</a></li>
              <li><a href="contact.html">Contact</a></li>
              <li><a href="coming-soon.html">Coming Soon</a></li>
            </ul>
          </li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div>
      <div class="ltn__utilize-buttons ltn__utilize-buttons-2">
        <ul>
          <li>
            <a href="account.html" title="My Account">
                            <span class="utilize-btn-icon">
                                <i class="far fa-user"></i>
                            </span>
              My Account
            </a>
          </li>
          <li>
            <a href="wishlist.html" title="Wishlist">
                            <span class="utilize-btn-icon">
                                <i class="far fa-heart"></i>
                                <sup>3</sup>
                            </span>
              Wishlist
            </a>
          </li>
          <li>
            <a href="cart.html" title="Shoping Cart">
                            <span class="utilize-btn-icon">
                                <i class="fas fa-shopping-cart"></i>
                                <sup>5</sup>
                            </span>
              Shoping Cart
            </a>
          </li>
        </ul>
      </div>
      <div class="ltn__social-media-2">
        <ul>
          <li><a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="#" title="Twitter"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
          <li><a href="#" title="Instagram"><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Utilize Mobile Menu End -->

  <div class="ltn__utilize-overlay"></div>

  <!-- BREADCRUMB AREA START -->
  <div class="ltn__breadcrumb-area text-left bg-overlay-white-30 bg-image " data-bs-bg="img/bg/14.jpg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="ltn__breadcrumb-inner">
            <h1 class="page-title">My properties</h1>
            <div class="ltn__breadcrumb-list">
              <ul>
                <li><a href="index.html"><span class="ltn__secondary-color"><i class="fas fa-home"></i></span> Home</a>
                </li>
                <li>My properties</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- BREADCRUMB AREA END -->

  <!-- WISHLIST AREA START -->
  <div class="liton__wishlist-area pb-70">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <!-- PRODUCT TAB AREA START -->
          <div class="ltn__product-tab-area">
            <div class="container">
              <div class="row">
                <div class="col-lg-4">
                  <div class="ltn__tab-menu-list mb-50">
                    <div class="nav">
                      <a data-bs-toggle="tab" href="#ltn_tab_1_1">Dashboard <i
                        class="fas fa-home"></i></a>
                      <a data-bs-toggle="tab" href="#ltn_tab_1_2">Profiles <i class="fas fa-user"></i></a>
                      <a data-bs-toggle="tab" href="#ltn_tab_1_3">address <i class="fas fa-map-marker-alt"></i></a>
                      <a data-bs-toggle="tab" href="#ltn_tab_1_4">Account Details <i class="fas fa-user"></i></a>
                      <a class="active show" data-bs-toggle="tab" href="#ltn_tab_1_5">My Properties <i
                        class="fa-solid fa-list"></i></a>
                      <a data-bs-toggle="tab" href="#ltn_tab_1_6">Favorited Properties <i class="fa-solid fa-heart"></i></a>
                      <a data-bs-toggle="tab" href="#ltn_tab_1_7">Add Property <i
                        class="fa-solid fa-map-location-dot"></i></a>
                      <a data-bs-toggle="tab" href="#ltn_tab_1_8">Payments <i
                        class="fa-solid fa-money-check-dollar"></i></a>
                      <a data-bs-toggle="tab" href="#ltn_tab_1_9">Change Password <i class="fa-solid fa-lock"></i></a>
                      <a href="login.html">Logout <i class="fas fa-sign-out-alt"></i></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-8">
                  <div class="tab-content">

                    <div class="tab-pane fade" id="ltn_tab_1_2">
                      <div class="ltn__myaccount-tab-content-inner">
                        <!-- comment-area -->
                        <div class="ltn__comment-area mb-50">
                          <div class="ltn-author-introducing clearfix">
                            <div class="author-img">
                              <img src="img/blog/author.jpg" alt="Author Image">
                            </div>
                            <div class="author-info">
                              <h6>Agent of Property</h6>
                              <h2>Rosalina D. William</h2>
                              <div class="footer-address">
                                <ul>
                                  <li>
                                    <div class="footer-address-icon">
                                      <i class="icon-placeholder"></i>
                                    </div>
                                    <div class="footer-address-info">
                                      <p>Brooklyn, New York, United States</p>
                                    </div>
                                  </li>
                                  <li>
                                    <div class="footer-address-icon">
                                      <i class="icon-call"></i>
                                    </div>
                                    <div class="footer-address-info">
                                      <p><a href="tel:+0123-456789">+0123-456789</a></p>
                                    </div>
                                  </li>
                                  <li>
                                    <div class="footer-address-icon">
                                      <i class="icon-mail"></i>
                                    </div>
                                    <div class="footer-address-info">
                                      <p><a href="mailto:example@example.com">example@example.com</a></p>
                                    </div>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="ltn__form-box contact-form-box box-shadow white-bg">
                            <h4 class="title-2">Get A Quote</h4>
                            <form id="contact-form"
                                  action="https://tunatheme.com/tf/html/quarter-preview/quarter/mail.php" method="post">
                              <div class="row">
                                <div class="col-md-6">
                                  <div class="input-item input-item-name ltn__custom-icon">
                                    <input type="text" name="name" placeholder="Enter your name">
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="input-item input-item-email ltn__custom-icon">
                                    <input type="email" name="email" placeholder="Enter email address">
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="input-item">
                                    <select class="nice-select">
                                      <option>Select Service Type</option>
                                      <option>Property Management</option>
                                      <option>Mortgage Service</option>
                                      <option>Consulting Service</option>
                                      <option>Home Buying</option>
                                      <option>Home Selling</option>
                                      <option>Escrow Services</option>
                                    </select>
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="input-item input-item-phone ltn__custom-icon">
                                    <input type="text" name="phone" placeholder="Enter phone number">
                                  </div>
                                </div>
                              </div>
                              <div class="input-item input-item-textarea ltn__custom-icon">
                                <textarea name="message" placeholder="Enter message"></textarea>
                              </div>
                              <p><label class="input-info-save mb-0"><input type="checkbox" name="agree"> Save my name,
                                email, and website in this browser for the next time I comment.</label></p>
                              <div class="btn-wrapper mt-0">
                                <button class="btn theme-btn-1 btn-effect-1 text-uppercase" type="submit">get a free
                                  service
                                </button>
                              </div>
                              <p class="form-messege mb-0 mt-20"></p>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="ltn_tab_1_3">
                      <div class="ltn__myaccount-tab-content-inner">
                        <p>The following addresses will be used on the checkout page by default.</p>
                        <div class="row">
                          <div class="col-md-6 col-12 learts-mb-30">
                            <h4>Billing Address <small><a href="#">edit</a></small></h4>
                            <address>
                              <p><strong>Alex Tuntuni</strong></p>
                              <p>1355 Market St, Suite 900 <br>
                                San Francisco, CA 94103</p>
                              <p>Mobile: (123) 456-7890</p>
                            </address>
                          </div>
                          <div class="col-md-6 col-12 learts-mb-30">
                            <h4>Shipping Address <small><a href="#">edit</a></small></h4>
                            <address>
                              <p><strong>Alex Tuntuni</strong></p>
                              <p>1355 Market St, Suite 900 <br>
                                San Francisco, CA 94103</p>
                              <p>Mobile: (123) 456-7890</p>
                            </address>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="ltn_tab_1_4">
                      <div class="ltn__myaccount-tab-content-inner">
                        <p>The following addresses will be used on the checkout page by default.</p>
                        <div class="ltn__form-box">
                          <form action="#">
                            <div class="row mb-50">
                              <div class="col-md-6">
                                <label>First name:</label>
                                <input type="text" name="ltn__name">
                              </div>
                              <div class="col-md-6">
                                <label>Last name:</label>
                                <input type="text" name="ltn__lastname">
                              </div>
                              <div class="col-md-6">
                                <label>Display Name:</label>
                                <input type="text" name="ltn__lastname" placeholder="Ethan">
                              </div>
                              <div class="col-md-6">
                                <label>Display Email:</label>
                                <input type="email" name="ltn__lastname" placeholder="example@example.com">
                              </div>
                            </div>
                            <fieldset>
                              <legend>Password change</legend>
                              <div class="row">
                                <div class="col-md-12">
                                  <label>Current password (leave blank to leave unchanged):</label>
                                  <input type="password" name="ltn__name">
                                  <label>New password (leave blank to leave unchanged):</label>
                                  <input type="password" name="ltn__lastname">
                                  <label>Confirm new password:</label>
                                  <input type="password" name="ltn__lastname">
                                </div>
                              </div>
                            </fieldset>
                            <div class="btn-wrapper">
                              <button type="submit" class="btn theme-btn-1 btn-effect-1 text-uppercase">Save Changes
                              </button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade active show" id="ltn_tab_1_5">
                      <div class="ltn__myaccount-tab-content-inner">
                        <div class="ltn__my-properties-table table-responsive">
                          <table class="table">
                            <thead>
                            <tr>
                              <th scope="col">My Properties</th>
                              <th scope="col"></th>
                              <th scope="col">Status</th>
                              <th scope="col">Actions</th>
                              <th scope="col">Change status</th>
                              <th scope="col">Schedule</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr
                              *ngFor="let r of rooms| paginate: { itemsPerPage: 3, currentPage: p, totalItems: total }">
                              <td class="ltn__my-properties-img">
                                <a href="product-details.html"><img src="{{r.img}}" alt="#"></a>
                              </td>
                              <td>
                                <div class="ltn__my-properties-info">
                                  <h6 class="mb-10"><a href="product-details.html">{{r.name}}</a></h6>
                                  <small><i class="icon-placeholder"></i> {{r.addressRoom}}</small>

                                </div>
                              </td>
                              <td>
                                <div [ngClass]="{'circle': true, 'success': r.status, 'danger': !r.status}" style="float: right; margin-right: 25px;"></div>

                              </td>
                              <td>
                                <button style="float: right; margin-right: 25px;" data-toggle="modal"
                                        data-target="#modalRegisterForm">Edit
                                </button>
                              </td>

                              <td>
                                <label class="switch">
                                  <input type="checkbox" [checked]="!r.status" (click)="confirmChangeToggle(r)">
                                  <span class="slider round"></span>
                                </label>

                              </td>

                              <td>
                                <button routerLink="/schedule/{{r.id}}">📅</button>
                              </td>
                            </tr>

                            </tbody>
                          </table>
                          <pagination-controls (pageChange)="pageChangeEvent($event)"
                                               class="ltn__pagination-area text-center">
                          </pagination-controls>
                        </div>

                      </div>
                    </div>
                    <div class="tab-pane fade" id="ltn_tab_1_6">
                      <div class="ltn__myaccount-tab-content-inner">
                        <div class="ltn__my-properties-table table-responsive">
                          <table class="table">
                            <thead>
                            <tr>
                              <th scope="col">Top Property</th>
                              <th scope="col"></th>
                              <th scope="col">Date Added</th>
                              <th scope="col">Actions</th>
                              <th scope="col">Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                              <td class="ltn__my-properties-img">
                                <a href="product-details.html"><img src="img/product-3/2.jpg" alt="#"></a>
                              </td>
                              <td>
                                <div class="ltn__my-properties-info">
                                  <h6 class="mb-10"><a href="product-details.html">sdfasdfdsfsdafs</a></h6>
                                  <small><i class="icon-placeholder"></i> Brooklyn, New York, United States</small>
                                  <div class="product-ratting">
                                    <ul>
                                      <li><a href="#"><i class="fas fa-star"></i></a></li>
                                      <li><a href="#"><i class="fas fa-star"></i></a></li>
                                      <li><a href="#"><i class="fas fa-star"></i></a></li>
                                      <li><a href="#"><i class="fas fa-star-half-alt"></i></a></li>
                                      <li><a href="#"><i class="far fa-star"></i></a></li>
                                      <li class="review-total"><a href="#"> ( 95 Reviews )</a></li>
                                    </ul>
                                  </div>
                                </div>
                              </td>
                              <td>Feb 22, 2022</td>
                              <td><a href="#">Edit</a></td>
                              <td><a href="#"><i class="fa-solid fa-trash-can"></i></a></td>
                            </tr>
                            <tr>
                              <td class="ltn__my-properties-img">
                                <a href="product-details.html"><img src="img/product-3/3.jpg" alt="#"></a>
                              </td>
                              <td>
                                <div class="ltn__my-properties-info">
                                  <h6 class="mb-10"><a href="product-details.html">sdfasdfdsfsdafs</a></h6>
                                  <small><i class="icon-placeholder"></i> Brooklyn, New York, United States</small>
                                  <div class="product-ratting">
                                    <ul>
                                      <li><a href="#"><i class="fas fa-star"></i></a></li>
                                      <li><a href="#"><i class="fas fa-star"></i></a></li>
                                      <li><a href="#"><i class="fas fa-star"></i></a></li>
                                      <li><a href="#"><i class="fas fa-star-half-alt"></i></a></li>
                                      <li><a href="#"><i class="far fa-star"></i></a></li>
                                      <li class="review-total"><a href="#"> ( 95 Reviews )</a></li>
                                    </ul>
                                  </div>
                                </div>
                              </td>
                              <td>Feb 22, 2022</td>
                              <td><a href="#">Edit</a></td>
                              <td><a href="#"><i class="fa-solid fa-trash-can"></i></a></td>
                            </tr>
                            <tr>
                              <td class="ltn__my-properties-img">
                                <a href="product-details.html"><img src="img/product-3/7.jpg" alt="#"></a>
                              </td>
                              <td>
                                <div class="ltn__my-properties-info">
                                  <h6 class="mb-10"><a href="product-details.html">sdfasdfdsfsdafs</a></h6>
                                  <small><i class="icon-placeholder"></i> Brooklyn, New York, United States</small>
                                  <div class="product-ratting">
                                    <ul>
                                      <li><a href="#"><i class="fas fa-star"></i></a></li>
                                      <li><a href="#"><i class="fas fa-star"></i></a></li>
                                      <li><a href="#"><i class="fas fa-star"></i></a></li>
                                      <li><a href="#"><i class="fas fa-star-half-alt"></i></a></li>
                                      <li><a href="#"><i class="far fa-star"></i></a></li>
                                      <li class="review-total"><a href="#"> ( 95 Reviews )</a></li>
                                    </ul>
                                  </div>
                                </div>
                              </td>
                              <td>Feb 22, 2022</td>
                              <td><a href="#">Edit</a></td>
                              <td><a href="#"><i class="fa-solid fa-trash-can"></i></a></td>
                            </tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="ltn__pagination-area text-center">
                          <div class="ltn__pagination">
                            <ul>
                              <li><a href="#"><i class="fas fa-angle-double-left"></i></a></li>
                              <li><a href="#">1</a></li>
                              <li class="active"><a href="#">2</a></li>
                              <li><a href="#">3</a></li>
                              <li><a href="#">...</a></li>
                              <li><a href="#">10</a></li>
                              <li><a href="#"><i class="fas fa-angle-double-right"></i></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="ltn_tab_1_7">
                      <!--                      form create-->
                      <form [formGroup]="formCreate" (ngSubmit)="onSubmit()" class="btn form-check-inline">
                        <div class="ltn__myaccount-tab-content-inner">
                          <h6>Property Description</h6>

                            <div class="col-lg-12">
                              <div class="input-item  input-item-textarea ltn__custom-icon">
                                <input type="text" name="ltn__name" placeholder="Name" formControlName="name">
                                <p
                                  *ngIf="formCreate?.get('name')?.hasError('required')&& formCreate?.get('name')?.touched"
                                  style="color: red">* Required</p>
                              </div>
                              <div class="input-item input-item-textarea ltn__custom-icon">
                                <textarea name="ltn__message" placeholder="Description"
                                          formControlName="description"></textarea>
                                <p
                                  *ngIf="formCreate?.get('description')?.hasError('required')&& formCreate?.get('description')?.touched"
                                  style="color: red">* Required</p>
                              </div>
                            </div>


                          <div class="col-lg-12">
                            <h6>Property Price</h6>
                            <div class="input-item  input-item-textarea ltn__custom-icon">
                              <input type="number" name="ltn__name" placeholder="Price" formControlName="price" style="width: 700px;height: 65px">
                              <p
                                *ngIf="formCreate?.get('price')?.hasError('required')&& formCreate?.get('price')?.touched"
                                style="color: red">* Required and >= 0</p>
                            </div>
<br>

                              <div class="col-lg-12">
                                <h6>Select Category</h6>
                                <div class="input-item" >
                                  <div formGroupName="category">
                                    <select class="nice-select" formControlName="id" *ngIf="categories" >
                                      <option value="" selected>--Select a category--</option>
                                      <option *ngFor="let category of categories"
                                              [value]="category.id">{{ category.name }}</option>
                                    </select>
                                  </div>
                                </div>
                            </div>
                            <h6>Select Location</h6>

                              <div class="col-lg-12">
                                <div class="input-item input-item-textarea ltn__custom-icon" >
                                  <div formGroupName="address">
                                    <select class="nice-select" formControlName="id" *ngIf="addresses" >
                                      <option value="" selected>--Select a province/city--</option>
                                      <option *ngFor="let address of addresses"
                                              [value]="address.id">{{ address.name }}</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                              <h6>Address Detail</h6>

                                <div class="col-lg-12">
                                  <div class="input-item  input-item-textarea ltn__custom-icon">
                                    <input type="text" name="ltn__name" placeholder="Address"
                                           formControlName="addressRoom" >
                                    <p
                                      *ngIf="formCreate?.get('addressRoom')?.hasError('required')&& formCreate?.get('addressRoom')?.touched"
                                      style="color: red">* Required</p>
                                  </div>
                                </div>



                              <div class="col-lg-12">
                                <div class="property-details-google-map mb-60">
                                  <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9334.271551495209!2d-73.97198251485975!3d40.668170674982946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25b0456b5a2e7%3A0x68bdf865dda0b669!2sBrooklyn%20Botanic%20Garden%20Shop!5e0!3m2!1sen!2sbd!4v1590597267201!5m2!1sen!2sbd"
                                    width="100%" height="100%" frameborder="0" allowfullscreen="" aria-hidden="false"
                                    tabindex="0"></iframe>
                                </div>


                              <h6>Listing Media</h6>
                              <div>
                                <img *ngFor="let url of urls" [src]="url" height=100><br>
                              </div>
                              <input type="file" (change)="onselect($event)" multiple class="btn theme-btn-3 mb-10"
                                     formControlName="images"><br>
                              <p>
                                <small>* At least 1 image is required for a valid submission.Minimum size is
                                  500/500px.</small><br>
                                <small>* PDF files upload supported as well.</small><br>
                                <small>* Images might take longer to be processed.</small>
                              </p>

                              <div class="alert alert-warning d-none" role="alert">
                                Please note that the date and time you requested may not be available. We will contact
                                you
                                to confirm your actual appointment details.
                              </div>
                              <div class="btn-wrapper text-center--- mt-30">
                                <button class="btn theme-btn-1 btn-effect-1 text-uppercase" type="submit">Submit
                                  Property
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="tab-pane fade" id="ltn_tab_1_8">
                      <div class="ltn__myaccount-tab-content-inner">
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="ltn__checkout-inner">
                              <div class="ltn__checkout-single-content ltn__returning-customer-wrap">
                                <h5>Returning customer? <a class="ltn__secondary-color"
                                                           href="#ltn__returning-customer-login" data-toggle="collapse">Click
                                  here to login</a></h5>
                                <div id="ltn__returning-customer-login"
                                     class="collapse ltn__checkout-single-content-info">
                                  <div class="ltn_coupon-code-form ltn__form-box">
                                    <p>Please login your accont.</p>
                                    <form action="#">
                                      <div class="row">
                                        <div class="col-md-6">
                                          <div class="input-item input-item-name ltn__custom-icon">
                                            <input type="text" name="ltn__name" placeholder="Enter your name">
                                          </div>
                                        </div>
                                        <div class="col-md-6">
                                          <div class="input-item input-item-email ltn__custom-icon">
                                            <input type="email" name="ltn__email" placeholder="Enter email address">
                                          </div>
                                        </div>
                                      </div>
                                      <button class="btn theme-btn-1 btn-effect-1 text-uppercase">Login</button>
                                      <label class="input-info-save mb-0"><input type="checkbox" name="agree"> Remember
                                        me</label>
                                      <p class="mt-30"><a href="register.html">Lost your password?</a></p>
                                    </form>
                                  </div>
                                </div>
                              </div>
                              <div class="ltn__checkout-single-content ltn__coupon-code-wrap">
                                <h5>Have a coupon? <a class="ltn__secondary-color" href="#ltn__coupon-code"
                                                      data-toggle="collapse">Click here to enter your code</a></h5>
                                <div id="ltn__coupon-code" class="collapse ltn__checkout-single-content-info">
                                  <div class="ltn__coupon-code-form">
                                    <p>If you have a coupon code, please apply it below.</p>
                                    <form action="#">
                                      <input type="text" name="coupon-code" placeholder="Coupon code">
                                      <button class="btn theme-btn-2 btn-effect-2 text-uppercase">Apply Coupon</button>
                                    </form>
                                  </div>
                                </div>
                              </div>
                              <div class="ltn__checkout-single-content mt-50">
                                <h4 class="title-2">Billing Details</h4>
                                <div class="ltn__checkout-single-content-info">
                                  <form action="#">
                                    <h6>Personal Information</h6>
                                    <div class="row">
                                      <div class="col-md-6">
                                        <div class="input-item input-item-name ltn__custom-icon">
                                          <input type="text" name="ltn__name" placeholder="First name">
                                        </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="input-item input-item-name ltn__custom-icon">
                                          <input type="text" name="ltn__lastname" placeholder="Last name">
                                        </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="input-item input-item-email ltn__custom-icon">
                                          <input type="email" name="ltn__email" placeholder="email address">
                                        </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="input-item input-item-phone ltn__custom-icon">
                                          <input type="text" name="ltn__phone" placeholder="phone number">
                                        </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="input-item input-item-website ltn__custom-icon">
                                          <input type="text" name="ltn__company" placeholder="Company name (optional)">
                                        </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="input-item input-item-website ltn__custom-icon">
                                          <input type="text" name="ltn__phone" placeholder="Company address (optional)">
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-lg-4 col-md-6">
                                        <h6>Country</h6>
                                        <div class="input-item">
                                          <select class="nice-select">
                                            <option>Select Country</option>
                                            <option>Australia</option>
                                            <option>Canada</option>
                                            <option>China</option>
                                            <option>Morocco</option>
                                            <option>Saudi Arabia</option>
                                            <option>United Kingdom (UK)</option>
                                            <option>United States (US)</option>
                                          </select>
                                        </div>
                                      </div>
                                      <div class="col-lg-12 col-md-12">
                                        <h6>Address</h6>
                                        <div class="row">
                                          <div class="col-md-6">
                                            <div class="input-item">
                                              <input type="text" placeholder="House number and street name">
                                            </div>
                                          </div>
                                          <div class="col-md-6">
                                            <div class="input-item">
                                              <input type="text" placeholder="Apartment, suite, unit etc. (optional)">
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="col-lg-4 col-md-6">
                                        <h6>Town / City</h6>
                                        <div class="input-item">
                                          <input type="text" placeholder="City">
                                        </div>
                                      </div>
                                      <div class="col-lg-4 col-md-6">
                                        <h6>State </h6>
                                        <div class="input-item">
                                          <input type="text" placeholder="State">
                                        </div>
                                      </div>
                                      <div class="col-lg-4 col-md-6">
                                        <h6>Zip</h6>
                                        <div class="input-item">
                                          <input type="text" placeholder="Zip">
                                        </div>
                                      </div>
                                    </div>
                                    <p><label class="input-info-save mb-0"><input type="checkbox" name="agree"> Create
                                      an account?</label></p>
                                    <h6>Order Notes (optional)</h6>
                                    <div class="input-item input-item-textarea ltn__custom-icon">
                                      <textarea name="ltn__message"
                                                placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                                    </div>

                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-6">
                            <div class="ltn__checkout-payment-method mt-50">
                              <h4 class="title-2">Payment Method</h4>
                              <div id="checkout_accordion_1">
                                <!-- card -->
                                <div class="card">
                                  <h5 class="collapsed ltn__card-title" data-toggle="collapse"
                                      data-target="#faq-item-2-1" aria-expanded="false">
                                    Check payments
                                  </h5>
                                  <div id="faq-item-2-1" class="collapse" data-parent="#checkout_accordion_1">
                                    <div class="card-body">
                                      <p>Please send a check to Store Name, Store Street, Store Town, Store State /
                                        County, Store Postcode.</p>
                                    </div>
                                  </div>
                                </div>
                                <!-- card -->
                                <div class="card">
                                  <h5 class="ltn__card-title" data-toggle="collapse" data-target="#faq-item-2-2"
                                      aria-expanded="true">
                                    Cash on delivery
                                  </h5>
                                  <div id="faq-item-2-2" class="collapse show" data-parent="#checkout_accordion_1">
                                    <div class="card-body">
                                      <p>Pay with cash upon delivery.</p>
                                    </div>
                                  </div>
                                </div>
                                <!-- card -->
                                <div class="card">
                                  <h5 class="collapsed ltn__card-title" data-toggle="collapse"
                                      data-target="#faq-item-2-3" aria-expanded="false">
                                    PayPal <img src="img/icons/payment-3.png" alt="#">
                                  </h5>
                                  <div id="faq-item-2-3" class="collapse" data-parent="#checkout_accordion_1">
                                    <div class="card-body">
                                      <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal
                                        account.</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="ltn__payment-note mt-30 mb-30">
                                <p>Your personal data will be used to process your order, support your experience
                                  throughout this website, and for other purposes described in our privacy policy.</p>
                              </div>
                              <button class="btn theme-btn-1 btn-effect-1 text-uppercase" type="submit">Place order
                              </button>
                            </div>
                          </div>
                          <div class="col-lg-6">
                            <div class="shoping-cart-total mt-50">
                              <h4 class="title-2">Cart Totals</h4>
                              <table class="table">
                                <tbody>
                                <tr>
                                  <td>3 Rooms Manhattan <strong>× 2</strong></td>
                                  <td>$298.00</td>
                                </tr>
                                <tr>
                                  <td>OE Replica Wheels <strong>× 2</strong></td>
                                  <td>$170.00</td>
                                </tr>
                                <tr>
                                  <td>Wheel Bearing Retainer <strong>× 2</strong></td>
                                  <td>$150.00</td>
                                </tr>
                                <tr>
                                  <td>Shipping and Handing</td>
                                  <td>$15.00</td>
                                </tr>
                                <tr>
                                  <td>Vat</td>
                                  <td>$00.00</td>
                                </tr>
                                <tr>
                                  <td><strong>Order Total</strong></td>
                                  <td><strong>$633.00</strong></td>
                                </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="ltn_tab_1_9">
                      <div class="ltn__myaccount-tab-content-inner">
                        <div class="account-login-inner">
                          <form action="#" class="ltn__form-box contact-form-box">
                            <h5 class="mb-30">Change Password</h5>
                            <input type="password" name="password" placeholder="Current Password*">
                            <input type="password" name="password" placeholder="New Password*">
                            <input type="password" name="password" placeholder="Confirm New Password*">
                            <div class="btn-wrapper mt-0">
                              <button class="theme-btn-1 btn btn-block" type="submit">Save Changes</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- PRODUCT TAB AREA END -->
        </div>
      </div>
    </div>
  </div>
  <!-- WISHLIST AREA START -->

  <!-- CALL TO ACTION START (call-to-action-6) -->
  <div class="ltn__call-to-action-area call-to-action-6 before-bg-bottom" data-bs-bg="img/1.jpg--">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="call-to-action-inner call-to-action-inner-6 ltn__secondary-bg position-relative text-center---">
            <div class="coll-to-info text-color-white">
              <h1>Looking for a dream home?</h1>
              <p>We can help you realize your dream of a new home</p>
            </div>
            <div class="btn-wrapper">
              <a class="btn btn-effect-3 btn-white" href="contact.html">Explore Properties <i class="icon-next"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- CALL TO ACTION END -->
  <!--  modal edit-->
  <div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Update your property</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body mx-3">
          <div class="md-form mb-5">
            <i class="fas fa-user prefix grey-text"></i>
            <input type="text" id="orangeForm-name" class="form-control validate">
            <label data-error="wrong" data-success="right" for="orangeForm-name">Your name</label>
          </div>
          <div class="md-form mb-5">
            <i class="fas fa-envelope prefix grey-text"></i>
            <input type="email" id="orangeForm-email" class="form-control validate">
            <label data-error="wrong" data-success="right" for="orangeForm-email">Your email</label>
          </div>

          <div class="md-form mb-4">
            <i class="fas fa-lock prefix grey-text"></i>
            <input type="password" id="orangeForm-pass" class="form-control validate">
            <label data-error="wrong" data-success="right" for="orangeForm-pass">Your password</label>
          </div>

        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button class="btn btn-deep-orange">Sign up</button>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center">
    <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalRegisterForm">Launch
      Modal Register Form</a>
  </div>
  <!--  end modal edit-->
</div>
<!-- Body main wrapper end -->

<!--modal xác nhận-->
<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="ab"></p-toast>
<p-toast position="center" key="c"></p-toast>



<p-confirmDialog [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
  Content
  <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
  <button pButton icon="pi pi-check" label="Confirm"></button>
</p-confirmDialog>
<!--modal xác nhận-->
<!-- All JS Plugins -->
<script src="js/plugins.js"></script>
<!-- Main JS -->
<script src="js/main.js"></script>

</body>
