
                          <div class="ltn__form-box contact-form-box box-shadow white-bg">
                            <form id="contact-form" [formGroup]="formEdit" (submit)="editProfile()">
                              <div class="row">
                                <div class="col-md-6" >
                                  <div class="form-control">
                                    <input type="text" formControlName="id" placeholder="id" readonly>
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-control">
                                    <input type="text" formControlName="name" placeholder="name">
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-control">
                                    <input type="text" formControlName="phone" placeholder="phone">
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-control">
                                    <input type="email" formControlName="email" placeholder="Email" readonly>
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-control">
                                    <input type="file" formControlName="avatar" placeholder="Avatar" (change)="($event)" >
                                  </div>
                                </div>
                              </div>
                              <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                          </div>
<script src="js/plugins.js"></script>
<!-- Main JS -->
<script src="js/main.js"></script>


