
<!-- PRODUCT DETAILS AREA START -->
<div class="ltn__product-area ltn__product-gutter mb-100">
  <p-toast></p-toast>
  <p-toast position="top-left" key="tl"></p-toast>
  <p-toast position="top-center" key="tc"></p-toast>
  <p-toast position="bottom-center" key="bc"></p-toast>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title-area ltn__section-title-2--- text-center">
          <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color">Properties</h6>
          <h1 class="section-title">Featured Listings</h1>
        </div>


        <!-- Button HTML (to Trigger Modal) -->
<!--        <a href="#myModal" class="btn btn-lg btn-primary" data-bs-toggle="modal">Launch Demo Modal</a>-->

        <!-- Modal HTML -->
        <div id="myModal" class="modal fade">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="modal-header">

                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
              </div>
              <div class="modal-body" >

                <div class="tab-content" >
                  <div class="tab-pane fade active show" id="ltn__form_tab_1_1">
                    <div class="car-dealer-form-inner">

                      <form id="popUpForm" action="#" class="ltn__car-dealer-form-box row" (ngSubmit)="findRoomByGuest()"
                            [formGroup]="formSearch">

                        <div class="ltn__car-dealer-form-item ltn__custom-icon ltn__icon-car col-lg-4 col-md-6"
                             formGroupName="addressName">
                          <a>Choice Address</a>
                          <select class="nice-select" formControlName="name" *ngIf="addresses" >
<!--                                                <option >All Location</option>-->
                            <option *ngFor="let address of addresses"
                                    [value]="address.name">{{ address.name }}</option>
                          </select>
                          <p
                            *ngIf="formSearch?.get('addressName')?.get('name')?.hasError('required') && formSearch?.get('addressName')?.touched"
                            style="color: red">* Required</p>
                        </div>
                        <div class="ltn__car-dealer-form-item ltn__custom-icon ltn__icon-car col-lg-4 col-md-6">
                          <div class="mb-3 mb-md-0">
                            <div class="date" id="date1" data-target-input="nearest">
                              <a>CheckIn</a>
                              <input type="date" [min]="getFormattedDate()" class="form-control p-4 datetimepicker-input" name="checkin"
                                     formControlName="checkin" placeholder="Depart Date" data-target="#date1"
                                     data-toggle="datetimepicker"  (change)="checkCheckinDate(formSearch?.get('checkin')?.value,formSearch?.get('checkout')?.value)"/>
                            </div>
                            <p
                              *ngIf="formSearch?.get('checkin')?.hasError('required')&& formSearch?.get('checkin')?.touched"
                              style="color: red">* Required</p>
                          </div>
                        </div>
                        <div class="ltn__car-dealer-form-item ltn__custom-icon ltn__icon-car col-lg-4 col-md-6">
                          <div class="mb-3 mb-md-0">
                            <div class="date" id="date2" data-target-input="nearest">
                              <a>CheckOut</a>
                              <input type="date" [min]="getFormattedDate()"  class="form-control p-4 datetimepicker-input" name="checkout"
                                     formControlName="checkout" placeholder="Return Date" data-target="#date2"
                                     data-toggle="datetimepicker"
                                     (change)="checkDate(formSearch?.get('checkout')?.value, formSearch?.get('checkin')?.value)"
                              />
                            </div>
                            <p
                              *ngIf="formSearch?.get('checkout')?.hasError('required') && formSearch?.get('checkout')?.touched"
                              style="color: red">* Required</p>
                          </div>
                        </div>
                        <div class="ltn__car-dealer-form-item ltn__custom-icon ltn__icon-calendar col-lg-4 col-md-6"
                             formGroupName="categoryName">
                          <a>Choice Category</a>
                          <select class="nice-select" formControlName="name" *ngIf="categories">
                            <option value="">All Category</option>
                            <option *ngFor="let category of categories"
                                    [value]="category.name">{{ category.name }}</option>
                          </select>
                        </div>
<!--                        <div class="ltn__car-dealer-form-item ltn__custom-icon ltn__icon-cog col-lg-4 col-md-6">-->
<!--                          <div class="input-item input-item-name ltn__custom-icon">-->
<!--                            <a>Choice Min Price</a>-->
<!--                            <input type="text" name="price1" placeholder="Min price" formControlName="price1">-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="ltn__car-dealer-form-item ltn__custom-icon ltn__icon-cog col-lg-4 col-md-6">-->
<!--                          <div class="input-item input-item-name ltn__custom-icon">-->
<!--                            <a>Choice Max Price</a>-->
<!--                            <input  type="text" name="price2" placeholder="Max price" formControlName="price2">-->
<!--                          </div>-->
<!--                          <p *ngIf="formSearch?.get('price2')?.value < formSearch?.get('price1')?.value"-->
<!--                             style="color: red">* MaxPrice must be greater than MinPrice</p>-->
<!--                        </div>-->
                        <div class="car-price-filter-range col-lg-12">
                          <ng5-slider  [(value)]="minValue" [(highValue)]="maxValue" [options]="options" formGroupName="control" ></ng5-slider>
                          <div class="btn-wrapper text-center">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" [disabled]="!check" type="submit" class="btn theme-btn-1 btn-effect-1 text-uppercase">
                              Search
                            </button>
                          </div>
                        </div>
                      </form>

                    </div>
                  </div>
                </div>


              </div>
              <div class="modal-footer">
<!--                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>-->
<!--                <button type="button" class="btn btn-primary">Save changes</button>-->
              </div>
            </div>
          </div>
        </div>










        <div class="tab-content">
          <div class="tab-pane fade active show" id="liton_product_grid">
            <div class="ltn__product-tab-content-inner ltn__product-grid-view">
              <div class="row">
                <!-- ltn__product-item -->
                <div class="col-lg-4 col-sm-6 col-12"
                     *ngFor="let r of rooms| paginate: { itemsPerPage: 6, currentPage: p, totalItems: total}">
                  <div class="ltn__product-item ltn__product-item-4 ltn__product-item-5 text-center---">
                    <div class="product-img">
                      <a href="product-details.html"><img src="{{r.img}} " width="350" height="200"></a>
                    </div>

                    <div class="product-info">
                      <div class="product-badge-price">
                        <div class="product-badge">
                          <ul>
                            <li class="sale-badg"><a>{{r.category}} </a></li>
                          </ul>
                        </div>
                      </div>
                      <h2 class="product-title"><a  routerLink="/showRoomDetail/{{r.id}}">{{r.name}}</a></h2>
                      <div class="product-img-location">
                        <ul>
                          <li>
                            <a href="locations.html"><i class="flaticon-pin"></i>{{r.addressRoom}}</a>
                          </li>
                        </ul>
                      </div>
                      <ul class="ltn__list-item-2--- ltn__list-item-2-before--- ltn__plot-brief">
                        <li>{{r.description}}</li>
                      </ul>
                      <div class="product-hover-action">
                        <ul>
                          <li>
                            <a href="#" title="Wishlist" data-bs-toggle="modal"
                               data-bs-target="#liton_wishlist_modal">
                              <i class="flaticon-heart-1"></i></a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="product-info-bottom">
                      <div class="product-price">
                        <span>{{r.price}}$<label>/Day</label></span>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- ltn__product-item -->
                <!--  -->
              </div>
            </div>
          </div>
          <pagination-controls (pageChange)="pageChangeEvent($event)"
                               class="ltn__pagination-area text-center"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- PRODUCT DETAILS AREA END -->



