<div class="ltn__slider-area ltn__slider-4">
  <div
    class="ltn__slide-one-active----- slick-slide-arrow-1----- slick-slide-dots-1----- arrow-white----- ltn__slide-animation-active">
    <!-- ltn__slide-item -->
    <div class="ltn__slide-item ltn__slide-item-2 ltn__slide-item-4 bg-image bg-overlay-theme-black-60"
         data-bs-bg="img/slider/11.jpg">
      <div class="ltn__slide-item-inner text-left">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 align-self-center">
              <div class="slide-item-car-dealer-form">
                <div class="ltn__car-dealer-form-tab">
                  <div class="ltn__tab-menu  text-uppercase">
                    <div class="nav">
                      <a class="active show" data-bs-toggle="tab" href="#ltn__form_tab_1_1"><i class="fas fa-home"></i>Rent
                        Home</a>
                      <a data-bs-toggle="tab" href="#ltn__form_tab_1_2" class=""><i class="fas fa-home"></i>Sale
                        Home</a>
                    </div>
                  </div>
                  <div class="tab-content">
                    <div class="tab-pane fade active show" id="ltn__form_tab_1_1">
                      <div class="car-dealer-form-inner">
                        <form action="#" class="ltn__car-dealer-form-box row">
                          <div class="ltn__car-dealer-form-item ltn__custom-icon ltn__icon-calendar col-lg-4 col-md-6">
                            <a>Choice Category</a>
                            <input type="text" placeholder="Enter Category" name="categoryName"
                                   [(ngModel)]="categoryName">
                          </div>
                          <div class="ltn__car-dealer-form-item ltn__custom-icon ltn__icon-car col-lg-4 col-md-6">
                            <div class="mb-3 mb-md-0">
                               <div class="date" id="date1" data-target-input="nearest">
                                <a>CheckIn</a>
                                <input type="date" class="form-control p-4 datetimepicker-input" name="checkin" [(ngModel)]="checkin" placeholder="Depart Date" data-target="#date1" data-toggle="datetimepicker"/>
                              </div>
                            </div>
                          </div>
                          <div class="ltn__car-dealer-form-item ltn__custom-icon ltn__icon-car col-lg-4 col-md-6">
                            <div class="mb-3 mb-md-0">
                              <div class="date" id="date2" data-target-input="nearest">
                                <a>CheckOut</a>
                                <input type="date" class="form-control p-4 datetimepicker-input" name="checkout" [(ngModel)]="checkout" placeholder="Return Date" data-target="#date2" data-toggle="datetimepicker"/>
                              </div>
                            </div>
                          </div>
                          <div class="ltn__car-dealer-form-item ltn__custom-icon ltn__icon-car col-lg-4 col-md-6">
                            <a>Choice Address</a>
                            <input type="text" placeholder="Enter Address" name="addressName" [(ngModel)]="addressName">
                          </div>
                           <div class="ltn__car-dealer-form-item ltn__custom-icon ltn__icon-cog col-lg-4 col-md-6">
                            <div class="input-item input-item-name ltn__custom-icon">
                              <a>Choice Min Price</a>
                              <input type="text" name="price1" placeholder="Min price " [(ngModel)]="price1">
                            </div>
                          </div>
                          <div class="ltn__car-dealer-form-item ltn__custom-icon ltn__icon-cog col-lg-4 col-md-6">
                            <div class="input-item input-item-name ltn__custom-icon">
                              <a>Choice Max Price</a>
                              <input type="text" name="price2" placeholder="Max price " [(ngModel)]="price2">
                            </div>
                          </div>
                          <div class="car-price-filter-range col-lg-12">
                            <div class="btn-wrapper text-center">
                              <button (click)="findRoomByGuest()" class="btn theme-btn-1 btn-effect-1 text-uppercase">
                                Search Inventory
                              </button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- PRODUCT DETAILS AREA START -->
<div class="ltn__product-area ltn__product-gutter mb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title-area ltn__section-title-2--- text-center">
          <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color">Properties</h6>
          <h1 class="section-title">Featured Listings</h1>
        </div>
        <div class="tab-content">
          <div class="tab-pane fade active show" id="liton_product_grid">
            <div class="ltn__product-tab-content-inner ltn__product-grid-view">
              <div class="row">
                <!-- ltn__product-item -->
                <div class="col-lg-4 col-sm-6 col-12"
                     *ngFor="let r of rooms| paginate: { itemsPerPage: 3, currentPage: p, totalItems: total }">
                  <div class="ltn__product-item ltn__product-item-4 ltn__product-item-5 text-center---">
                    <div class="product-img">
                      <a href="product-details.html"><img src="{{r.img}} " width="350" height="200" ></a>

                    </div>
                    <div class="product-info">
                      <div class="product-badge-price">
                        <div class="product-badge">
                          <ul>
                            <li class="sale-badg"><a>{{r.category}} </a></li>
                          </ul>
                        </div>

                      </div>
                      <h2 class="product-title"><a href="product-details.html">{{r.name}}</a></h2>
                      <div class="product-img-location">
                        <ul>
                          <li>
                            <a href="locations.html"><i class="flaticon-pin"></i>{{r.addressRoom}}</a>
                          </li>
                        </ul>
                      </div>
                      <ul class="ltn__list-item-2--- ltn__list-item-2-before--- ltn__plot-brief">
                        <li>{{r.description}}</li>
                      </ul>
                      <div class="product-hover-action">
                        <ul>
                          <li>
                            <a href="#" title="Quick View" data-bs-toggle="modal"
                               data-bs-target="#quick_view_modal">
                              <i class="flaticon-expand"></i>
                            </a>
                          </li>
                          <li>
                            <a href="#" title="Wishlist" data-bs-toggle="modal"
                               data-bs-target="#liton_wishlist_modal">
                              <i class="flaticon-heart-1"></i></a>
                          </li>
                          <li>
                            <a href="product-details.html" title="Product Details">
                              <i class="flaticon-add"></i>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="product-info-bottom">
                      <div class="product-price">
                        <span>{{r.price}}<label>/Month</label></span>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- ltn__product-item -->
                <!--  -->
              </div>
            </div>
          </div>
        </div>
        <pagination-controls (pageChange)="pageChangeEvent($event)" class="ltn__pagination-area text-center">

          <div class="ltn__pagination">
            <ul>
              <li><a href="#"><i class="fas fa-angle-double-left"></i></a></li>
              <li><a href="#">1</a></li>
              <li class="active"><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">...</a></li>
              <li><a href="#">10</a></li>
              <li><a href="#"><i class="fas fa-angle-double-right"></i></a></li>
            </ul>
          </div>
        </pagination-controls>
      </div>
    </div>
  </div>
</div>
<!-- PRODUCT DETAILS AREA END -->



