
<div class="body-wrapper">
  <img src="url" height="1000">
  <!-- Utilize Mobile Menu End -->
  <div class="ltn__utilize-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="ltn__breadcrumb-inner">
          <h1 class="page-title">Account</h1>
          <div class="ltn__breadcrumb-list">
            <ul>
              <li><a href="index.html"><span class="ltn__secondary-color"><i class="fas fa-home"></i></span> Home</a>
              </li>
              <li>Register</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- BREADCRUMB AREA END -->

  <!-- LOGIN AREA START (Register) -->

  <p-toast></p-toast>
  <p-toast position="top-left" key="tl"></p-toast>
  <p-toast position="top-center" key="ab"></p-toast>
  <p-toast position="bottom-center" key="bc"></p-toast>


  <div class="ltn__login-area pb-110">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title-area text-center">
            <h1 class="section-title">Register <br>Your Account</h1>
          </div>
        </div>
      </div>

      <!--      <button type="button" pButton pRipple (click)="showError()" label="Error" class="p-button-danger mb-2">sssss</button>-->

      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="account-login-inner">
            <form [formGroup]="registerForm" (ngSubmit)="register()">
              <div>
                <input type="text" formControlName="name" placeholder="Name*" required ngModel
                       (change)="checkName(name.value)" #name>
              </div>
              <p *ngIf="!registerForm.get('name')?.valid && registerForm.get('name')?.touched" style="color: red">
                Name is required</p>
              <div>
                <input type="password" formControlName="password" placeholder="Password*" minlength="6" maxlength="8"
                       Password is required>
              </div>
              <div>
                <p *ngIf="!registerForm.get('password')?.valid && registerForm.get('password')?.touched"
                   style="color: red">Password is required</p>
              </div>
              <div>
                <p *ngIf="registerForm.get('password')?.touched&& registerForm.get('password')?.errors"
                   style="color: red">

                  Password must be 6 to 8 characters</p>
              </div>

              <div>
                <input type="password" formControlName="rePassword" placeholder="Confirm Password
                *">
              </div>
              <p *ngIf="!registerForm.get('rePassword')?.valid && registerForm.get('rePassword')?.touched"
                 style="color: red">RePassword is required</p>
              <div>
                <input type="text" formControlName="email" placeholder="Email*" ngModel
                       (change)="checkEmail(mail.value)" #mail>
              </div>
              <div><p *ngIf="!registerForm.get('email')?.valid && registerForm.get('email')?.touched"
                      style="color: red">
                Email is required</p>
              </div>
              <div>
                <p *ngIf="registerForm.get('email')?.touched&& registerForm.get('email')?.errors" style="color: red">

                  Email format: abc@gmail.com </p>
              </div>
              <div>

                <input type="text" formControlName="phone" placeholder="Phone Number*">
              </div>
              <p *ngIf="!registerForm.get('phone')?.valid && registerForm.get('phone')?.touched" style="color: red">
                Phone is required</p>
              <label>Avatar</label><br>
              <div>
                <input type="file" formControlName="avatar" placeholder="Avatar">
              </div>
              <div class="btn-wrapper">
                <button style="background: #fd7e14" [disabled]="registerForm.invalid" pButton pRipple
                        (click)="showSuccess()" label="Success" class="theme-btn-1 btn reverse-color btn-block"
                        type="submit">
                  CREATE ACCOUNT
                </button>
              </div>

            </form>
            <div class="by-agree text-center">
              <div class="go-to-btn mt-50">
                <a href="/login">ALREADY HAVE AN ACCOUNT ?</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- LOGIN AREA END -->

</div>




