.ltn__header-middle-area{
  background-color: rgb(105, 37, 1);

}
.icon-user{
  color: #ffffff !important

}
.search-icon{
  color: #ffffff !important

}
.mini-cart-icon{
  color: #ffffff !important

}
