<form [formGroup]="formChange" (submit)="change()">
  <fieldset>
    <legend>Password change</legend>
    <div class="row">
      <div class="col-md-12">
        <div>
          <label>Current password</label>
          <input type="password" formControlName="currentPassword" ngModel (change)="checkPassword(currentPassword.value)"
                 #currentPassword>
        </div>

        <div><label>New password (leave blank to leave unchanged):</label>
          <input type="password" formControlName="newPassword">
        </div>
        <div>
          <p *ngIf="!formChange.get('password')?.valid && formChange.get('password')?.touched"
             style="color: red">Password is required</p>
        </div>
        <div>
          <p *ngIf="formChange.get('password')?.touched&& formChange.get('password')?.errors"
             style="color: red">

            Password must be 6 to 8 characters</p>
        </div>

        <div><label>Confirm new password:</label>
          <input type="password" formControlName="confirmPass">
        </div>
        <button type="submit" class="btn theme-btn-1 btn-effect-1 text-uppercase">Save Changes</button>
      </div>
    </div>
  </fieldset>
</form>

