<div class="tab-pane fade" id="ltn_tab_1_9">
    <div class="ltn__myaccount-tab-content-inner">
      <div class="account-login-inner">
        <form class="ltn__form-box contact-form-box" [formGroup]="formChange" (submit)="change()">
          <p-toast></p-toast>
          <p-toast position="top-left" key="tl"></p-toast>
          <p-toast position="top-center" key="ab"></p-toast>
          <p-toast position="bottom-center" key="bc"></p-toast>
          <h5 class="mb-30">Change Password</h5>
          <input type="password" formControlName="currentPassword" placeholder="Current Password*">

          <input type="password" formControlName="newPassword" placeholder="New Password*">
          <div>
            <p *ngIf="!formChange.get('password')?.valid && formChange.get('password')?.touched"
               style="color: red">Password is required</p>
          </div>
          <div>
            <p *ngIf="formChange.get('password')?.touched&& formChange.get('password')?.errors"
               style="color: red">
              Password must be 6 to 8 characters</p>
          </div>
          <input type="password" formControlName="confirmPassword" placeholder="Confirm New Password*">
          <div class="btn-wrapper mt-0">
            <button class="theme-btn-1 btn btn-block" type="submit" style="background: #fd7e14">Save Changes</button>
          </div>
        </form>
      </div>
    </div>
</div>
